body {
  background-color: #acab99;
}

.App {
  text-align: center;
}

.App h1 {
  font-weight: normal;
  text-decoration: underline;
}

h2 {
  font-weight: normal;
}

.ImageAndName img {
  border-radius: 50%;
}

.ImageAndName {
  display: grid;
}

.ImageAndName p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.follows p {
  display: inline;
  margin-right: 20px;
}

.ImageAndName a{
  color: #0000FF;
}